FASE3/ProyectoIPC2/ProyectoIPC2/Web References/WebSProyectoIPC2/ProyectoIPC2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Fecha">
        <s:complexType />
      </s:element>
      <s:element name="FechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FechaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DPI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NIT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tarjeta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cod_sucursal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domicilio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificacionPass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificacionPassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificacionPassResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCodLote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_sucursal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCodLoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCodLoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Agregar_Empleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cod_Suc_Dep" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sueldo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Agregar_EmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Agregar_EmpleadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reporte_Paquete_Impuesto">
        <s:complexType />
      </s:element>
      <s:element name="Reporte_Paquete_ImpuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporte_Paquete_ImpuestoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reporte_Paquete_Sucursal">
        <s:complexType />
      </s:element>
      <s:element name="Reporte_Paquete_SucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporte_Paquete_SucursalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reporte_Empleados">
        <s:complexType />
      </s:element>
      <s:element name="Reporte_EmpleadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporte_EmpleadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reporte_Top5_Impuestos">
        <s:complexType />
      </s:element>
      <s:element name="Reporte_Top5_ImpuestosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporte_Top5_ImpuestosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FechaSoapIn">
    <wsdl:part name="parameters" element="tns:Fecha" />
  </wsdl:message>
  <wsdl:message name="FechaSoapOut">
    <wsdl:part name="parameters" element="tns:FechaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapIn">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="VerificacionPassSoapIn">
    <wsdl:part name="parameters" element="tns:VerificacionPass" />
  </wsdl:message>
  <wsdl:message name="VerificacionPassSoapOut">
    <wsdl:part name="parameters" element="tns:VerificacionPassResponse" />
  </wsdl:message>
  <wsdl:message name="getCodLoteSoapIn">
    <wsdl:part name="parameters" element="tns:getCodLote" />
  </wsdl:message>
  <wsdl:message name="getCodLoteSoapOut">
    <wsdl:part name="parameters" element="tns:getCodLoteResponse" />
  </wsdl:message>
  <wsdl:message name="Agregar_EmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:Agregar_Empleado" />
  </wsdl:message>
  <wsdl:message name="Agregar_EmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:Agregar_EmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="Reporte_Paquete_ImpuestoSoapIn">
    <wsdl:part name="parameters" element="tns:Reporte_Paquete_Impuesto" />
  </wsdl:message>
  <wsdl:message name="Reporte_Paquete_ImpuestoSoapOut">
    <wsdl:part name="parameters" element="tns:Reporte_Paquete_ImpuestoResponse" />
  </wsdl:message>
  <wsdl:message name="Reporte_Paquete_SucursalSoapIn">
    <wsdl:part name="parameters" element="tns:Reporte_Paquete_Sucursal" />
  </wsdl:message>
  <wsdl:message name="Reporte_Paquete_SucursalSoapOut">
    <wsdl:part name="parameters" element="tns:Reporte_Paquete_SucursalResponse" />
  </wsdl:message>
  <wsdl:message name="Reporte_EmpleadosSoapIn">
    <wsdl:part name="parameters" element="tns:Reporte_Empleados" />
  </wsdl:message>
  <wsdl:message name="Reporte_EmpleadosSoapOut">
    <wsdl:part name="parameters" element="tns:Reporte_EmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="Reporte_Top5_ImpuestosSoapIn">
    <wsdl:part name="parameters" element="tns:Reporte_Top5_Impuestos" />
  </wsdl:message>
  <wsdl:message name="Reporte_Top5_ImpuestosSoapOut">
    <wsdl:part name="parameters" element="tns:Reporte_Top5_ImpuestosResponse" />
  </wsdl:message>
  <wsdl:portType name="ProyectoIPC2Soap">
    <wsdl:operation name="Fecha">
      <wsdl:input message="tns:FechaSoapIn" />
      <wsdl:output message="tns:FechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <wsdl:input message="tns:RegistrarSoapIn" />
      <wsdl:output message="tns:RegistrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificacionPass">
      <wsdl:input message="tns:VerificacionPassSoapIn" />
      <wsdl:output message="tns:VerificacionPassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCodLote">
      <wsdl:input message="tns:getCodLoteSoapIn" />
      <wsdl:output message="tns:getCodLoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Agregar_Empleado">
      <wsdl:input message="tns:Agregar_EmpleadoSoapIn" />
      <wsdl:output message="tns:Agregar_EmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reporte_Paquete_Impuesto">
      <wsdl:input message="tns:Reporte_Paquete_ImpuestoSoapIn" />
      <wsdl:output message="tns:Reporte_Paquete_ImpuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reporte_Paquete_Sucursal">
      <wsdl:input message="tns:Reporte_Paquete_SucursalSoapIn" />
      <wsdl:output message="tns:Reporte_Paquete_SucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reporte_Empleados">
      <wsdl:input message="tns:Reporte_EmpleadosSoapIn" />
      <wsdl:output message="tns:Reporte_EmpleadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reporte_Top5_Impuestos">
      <wsdl:input message="tns:Reporte_Top5_ImpuestosSoapIn" />
      <wsdl:output message="tns:Reporte_Top5_ImpuestosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProyectoIPC2Soap" type="tns:ProyectoIPC2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fecha">
      <soap:operation soapAction="http://tempuri.org/Fecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://tempuri.org/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificacionPass">
      <soap:operation soapAction="http://tempuri.org/VerificacionPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCodLote">
      <soap:operation soapAction="http://tempuri.org/getCodLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar_Empleado">
      <soap:operation soapAction="http://tempuri.org/Agregar_Empleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte_Paquete_Impuesto">
      <soap:operation soapAction="http://tempuri.org/Reporte_Paquete_Impuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte_Paquete_Sucursal">
      <soap:operation soapAction="http://tempuri.org/Reporte_Paquete_Sucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte_Empleados">
      <soap:operation soapAction="http://tempuri.org/Reporte_Empleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte_Top5_Impuestos">
      <soap:operation soapAction="http://tempuri.org/Reporte_Top5_Impuestos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProyectoIPC2Soap12" type="tns:ProyectoIPC2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fecha">
      <soap12:operation soapAction="http://tempuri.org/Fecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap12:operation soapAction="http://tempuri.org/Registrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificacionPass">
      <soap12:operation soapAction="http://tempuri.org/VerificacionPass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCodLote">
      <soap12:operation soapAction="http://tempuri.org/getCodLote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar_Empleado">
      <soap12:operation soapAction="http://tempuri.org/Agregar_Empleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte_Paquete_Impuesto">
      <soap12:operation soapAction="http://tempuri.org/Reporte_Paquete_Impuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte_Paquete_Sucursal">
      <soap12:operation soapAction="http://tempuri.org/Reporte_Paquete_Sucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte_Empleados">
      <soap12:operation soapAction="http://tempuri.org/Reporte_Empleados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte_Top5_Impuestos">
      <soap12:operation soapAction="http://tempuri.org/Reporte_Top5_Impuestos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProyectoIPC2">
    <wsdl:port name="ProyectoIPC2Soap" binding="tns:ProyectoIPC2Soap">
      <soap:address location="http://localhost:54210/ProyectoIPC2.asmx" />
    </wsdl:port>
    <wsdl:port name="ProyectoIPC2Soap12" binding="tns:ProyectoIPC2Soap12">
      <soap12:address location="http://localhost:54210/ProyectoIPC2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>